<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<style>
    #code_snippet {
        background-color: bisque;
        color: darkgreen;
    }

    #send_snippet {
        background-color: rgba(127, 240, 255, 0.76);
        color: #000000;
    }
</style>
<label for="code_snippet"></label><textarea id="code_snippet" placeholder="// write your code here"></textarea>
<button id="send_snippet" type="submit" onclick="send()">Submit</button>
<script>
    function send() {
        let object = {
            "code": document.getElementById("code_snippet").value
        };

        let json = JSON.stringify(object);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", '/api/code/new', false)
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);

        if (xhr.status === 200) {
            alert("Success!");
        }
    }
</script>
</body>
</html>